<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag(product.image_url || images/apricots.jpg class: "img-thumbnail") %>
    <div class="caption">
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <span class="price"><%= number_to_currency(product.price) %></span>

      <p>
      <%= link_to "Ingredients", product, class: "btn btn-primary" role: "button" %>
      <%= link_to "Add to Cart", new_line_item_path(product) class: "btn btn-primary" role: "button" %>
      </p>
    </div>
  </div>
</div>