<em>Welcome to Cat’s Cuties, a haven for those seeking delicious, beautiful, allergy-friendly desserts!</em>

<div class="page-header"><h2>GOOD FOR</h2></div>
<div class="panel"><div class="panel-body"><ul>
<%= image_tag("heart.jpg")%>VEGANS<br>
<%= image_tag("heart.jpg")%>VEGETARIANS<br>
<%= image_tag("heart.jpg")%>GF/CF DIETS<br>
<%= image_tag("heart.jpg")%>GLUTEN-FREE<br>
<%= image_tag("heart.jpg")%>DAIRY-FREE<br>
<%= image_tag("heart.jpg")%>KOSHER<br>
<%= image_tag("heart.jpg")%>TEACHER GIFTS<br>
<%= image_tag("heart.jpg")%>CHOCOHOLICS<br>
<%= image_tag("heart.jpg")%>TREATING YOUR SWEETIES!<br>
</ul></div></div>

<div class="page-header"><h2>MISSION</h2></div>
<div class="panel"><div class="panel-body"><p class="lead">Cat's Cuties is on a mission to make allergy-friendly desserts.  We are committed to:  </p></div>
<div class="panel-body"><ul>
<%= image_tag("heart.jpg")%>crafting beautiful, luscious desserts that virtually everyone can enjoy<br>
<%= image_tag("heart.jpg")%>producing our scrumptious delights in a safe process that prevents<br> <%= image_tag("heart.jpg")%>cross contamination with allergens<br>
<%= image_tag("heart.jpg")%>donating 18% of our net profits<br>
<%= image_tag("heart.jpg")%>helping local charitable organizations raise funds<br>
<%= image_tag("heart.jpg")%>creating jobs in Massachusetts<br>
<%= image_tag("heart.jpg")%>being environmentally friendly<br>
</ul></div></div>

<div class="page-header"><h2>ABOUT OUR INGREDIENTS</h2></div>
<div class="panel"><div class="panel-body"><p class="lead">We make Cat’s Cuties with certified gluten-free, vegan, kosher-parve, semi-sweet dark chocolate. They are free of all major allergens & many problem ingredients!</p></div>

<div class="panel-body"><strong>CC chocolate</strong>
<p>Evaporated cane juice, non-alcoholic chocolate liqueur, non-dairy cocoa butter. Made in a dedicated gluten-free & nut-free facility; routinely batch-tested to make sure no casein (milk/dairy) has entered the process. Free of sodium, trans fat, & cholesterol. Anti-oxidant rich. Heart healthy!</p></div></div>