<div class="page-header"><div class="panel-body"><p class="lead"><em>Welcome to Cat’s Cuties, a haven for those seeking delicious, beautiful, allergy-friendly desserts!</em></p></div></div>

<div class="page-header"><h2>Good For</h2></div>
<div class="panel"><div class="panel-body">
<ul class="list-group">
<li class="list-group-item"><%= image_tag("heart.jpg")%>vegans</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>vegetarians</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>gf/cf diets</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>gluten-free</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>dairy-free</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>kosher</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>teacher gifts</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>chocoholics</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>treating your sweeties!</li>
</ul></div></div>

<div class="page-header"><h2>Mission</h2></div>
<div class="panel"><div class="panel-body"><p class="lead">Cat's Cuties is on a mission to make allergy-friendly desserts.  We are committed to:  </p></div>
<div class="panel-body">
<ul class="list-group">
<li class="list-group-item"><%= image_tag("heart.jpg")%>crafting beautiful, luscious desserts that virtually everyone can enjoy</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>producing our scrumptious delights in a safe process that prevents</li> <li class="list-group-item"><%= image_tag("heart.jpg")%>cross contamination with allergens</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>donating 18% of our net profits</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>helping local charitable organizations raise funds</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>creating jobs in Massachusetts</li>
<li class="list-group-item"><%= image_tag("heart.jpg")%>being environmentally friendly</li>
</ul></div></div>

<div class="page-header"><h2>About Our Ingredients</h2></div>
<div class="panel"><div class="panel-body"><p class="lead">We make Cat’s Cuties with certified gluten-free, vegan, kosher-parve, semi-sweet dark chocolate. They are free of all major allergens & many problem ingredients!</p></div>

<div class="panel-body"><strong>CC chocolate</strong>
<p>Evaporated cane juice, non-alcoholic chocolate liqueur, non-dairy cocoa butter. Made in a dedicated gluten-free & nut-free facility; routinely batch-tested to make sure no casein (milk/dairy) has entered the process. Free of sodium, trans fat, & cholesterol. Anti-oxidant rich. Heart healthy!</p></div></div>