<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat's Cuties</title>

    <link href='http://fonts.googleapis.com/css?family=Oldenburg|Noto+Serif' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <a href="#content" class="sr-only">Skip to main content</a>

    <div class="container">
      <%= render "layouts/banner" %>
      <%= render 'layouts/navigation' %>
    </div>

    <main role="main">
      <div class="container">
        <div id="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <p class="credit">contact <a href="mailto:cat@catscuties.com">cat@catscuties.com</a></p>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>




