<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat's Cuties</title>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/6c34994a-bdf3-4f01-853c-90d02cc179ef.js"></script>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="wrap">

  <a href="#content" class="sr-only">Skip to main content</a>

    <div class="navbar navbar-fixed-top">
      <%= render 'layouts/navigation' %>
    </div>

    <main role="main">
      <div class="container">
        <div id="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </main>
  
  </div>

          <div id="footer">
            <div class="container">
              <p class="muted credit"><a href="http://github.com/abigezunt">built by Abby Howell</a><a href="https://generalassemb.ly/education/web-development-immersive"> at General Assembly</a></p>
            </div>
          </div>
  </body>
</html>




